table {
    border-collapse: collapse;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    cursor:pointer;
}

td, th {
    padding: 3px;
    border: 1px solid black;
}